@charser "utf-8";

html{
	font: 12px '宋体';
}

a{
	color: #000;
}

.top {
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #D8D8D8;
}

.top_page {
	width:970px;
	height: 26px;
	margin:0px auto;
}

.top_page_l {
	line-height: 26px;
}

.top_page_r {
	line-height: 26px;
}

.top_page_r ul li {
	float:  left;
	margin-left: 10px;
	line-height: 26px;
}

.top_page_r ul li span {
	display: inline-block;
	width:14px;
	height:12px;
	background : url(../image/sprite.png);
	vertical-align: middle
}

.logo {
	width:970px;
	height: 98px;
	margin: 0px auto;
}

.logo_l{
	width:200px;
	height: 55px;
	background : url(../image/sprite.png) -20px 0px;
	display : inline-block;
	text-indent: -1000em;
	margin : 24px 0 19px 9px;
}

.logo_r {
	width:530px;
	height: 42px;
	margin-top:29px;
	border: 1px solid #C9C9C9;
}

.logo_search {
	width: 418px;
	height: 28px;
	border : 1px solid #C9C9C9;
}

.logo_search_btn{
	width: 98px;
	height: 30px;
	color: white;;
	background-color: #2F70D0
}
.log_r_content{
	margin: 6px 5px 5px 4px;
}

.nav{
	width:970px;
	height: 25px;
	margin:0px auto;
	border-bottom : 2px solid #306BAE;
	font-size: 14px;
}

.nav li {
	float:  left;
	padding: 0 15px 0 15px;
	line-height: 25px;
}

.nav ul li a {
	color : #306BAE;
	font-weight: bold
}

.nav li:hover {
	background-color: #0266A3;
}

.nav li:hover a{
	color : white;
}

.banner {
	width: 970px;
	height : 210px;
	margin : 0px auto;
	margin-top: 10px;	
}

.subNav{
	width: 200px;
	height: 210px;
	margin-right: 10px;
}

.subNav h2{
	background-color:  #0266A3;
	font-size: 16px;
	color ：white;
	font-weight: bold;
	line-height: 30px;
	padding-left : 20px;
}

.subNav li span {
	display :inline-block;
	width : 15px;
	height : 13px;
	background: url(../image/sprite.png) -225px 0;
	
}

.subNav ul li{
	padding-top: 11px;
	margin-left : 9px;
	font-size: 15px;
}

.subNav li a {
	padding-left : 15px;
}

.subNav ul {
	background-color:  #EBF0F6;
	height: 180px;
}

.ad{
	width: 520px;
	height: 210px;
	background-color: 	yellow;
}

.message {
	width: 230px;
	height: 210px;
	background-color: red;
}
